In [12]:
# transforme un .dat en .csv
import csv
with open('./user_contacts.dat', 'r') as dat_file:
    with open('./user_contacts.csv', 'w', newline='') as csv_file:
        csv_writer = csv.writer(csv_file)
        for row in dat_file:
            row = [value.strip() for value in row.split('\t')]
            csv_writer.writerow(row)
# note: changer manuellement les tab des noms de columns par des ,

In [34]:
import pandas as pd
df = pd.read_csv(r'./user_contacts.csv')
#df.head(10)
df.drop(df.iloc[:, 2:len(df.columns)], inplace=True, axis=1)
#df.head(10)
df['Trust'] = 1
#df.head(10)
df.to_csv('trust_data.csv', index=False, header=False )

In [1]:
# transforme un .dat en .csv
import csv
with open('./user_taggedbookmarks.dat', 'r') as dat_file:
    with open('./user_taggedbookmarks.csv', 'w', newline='') as csv_file:
        csv_writer = csv.writer(csv_file)
        for row in dat_file:
            row = [value.strip() for value in row.split('\t')]
            csv_writer.writerow(row)
# note: changer manuellement les tab des noms de columns par des ,

In [2]:
import pandas as pd
df = pd.read_csv(r'./user_taggedbookmarks.csv')
df

        userID  bookmarkID  tagID  day  month  year  hour  minute  second
0            8           1      1    8     11  2010    23      29      22
1            8           2      1    8     11  2010    23      25      59
2            8           7      1    8     11  2010    18      55       1
3            8           7      6    8     11  2010    18      55       1
4            8           7      7    8     11  2010    18      55       1
...        ...         ...    ...  ...    ...   ...   ...     ...     ...
437588  108035       30993    193   25      6  2010    21      48      35
437589  108035       30993    673   25      6  2010    21      48      35
437590  108035       30994    130   22      6  2010    18      21      55
437591  108035       30994    267   22      6  2010    18      21      55
437592  108035       30994   4943   22      6  2010    18      21      55

[437593 rows x 9 columns]

In [18]:
df.drop(df.iloc[:, 2:len(df.columns)], inplace=True, axis=1)
#df.head(10)
df2 = df.groupby(['userID','bookmarkID']).size().to_frame().reset_index()
df2.rename(columns={0:'rating'}, inplace=True)
df2

        userID  bookmarkID  rating
0            8           1       1
1            8           2       1
2            8           7       3
3            8           8       3
4            8           9       2
...        ...         ...     ...
104794  108035       30987       4
104795  108035       30989       1
104796  108035       30990       2
104797  108035       30993       2
104798  108035       30994       3

[104799 rows x 3 columns]

In [27]:
#max of rate
max = df2['rating'].max()
min = df2['rating'].min()
df2['rating'] = ((df2['rating'] - min)/(max-min))*4 + 1
df2

        userID  bookmarkID    rating
0            8           1  1.000000
1            8           2  1.000000
2            8           7  1.115942
3            8           8  1.115942
4            8           9  1.057971
...        ...         ...       ...
104794  108035       30987  1.173913
104795  108035       30989  1.000000
104796  108035       30990  1.057971
104797  108035       30993  1.057971
104798  108035       30994  1.115942

[104799 rows x 3 columns]

In [29]:
max = df2['rating'].max()
max

5.0

In [33]:
#df.head(10)
df2.to_csv('rating_data.csv', index=False, header=False)